<app-header></app-header>
<div class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Nome do cliente</th>
        <th>Modelo</th>
        <th>Placa</th>
        <th>Tipo</th>
        <th>Horário de entrada</th>
        <th>Valor atual</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Marcos</td>
        <td>celta</td>
        <td>ABC-1234</td>
        <td>Carro</td>
        <td>10:00</td>
        <td>R$ 10,00</td>
        <td>
          <button class="secondary-button">Saída</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
